body
{
	background-image: url(IMG/b3.png);
	
	background-color: #1282b2;
}
.kolom1
{
	height: 100px;
}
.kolom2
{
	height: 370px;
	margin-left: 550px;
}
.kolom3
{
	height: 150px;
}
.masuk
{
	width: 200px; 
	background-color: #284a6d; 
	color: white; 
	font-size: 15px; 
	height: 40px; 
	border-radius: 50px; 
	margin-bottom: 20px;
}
.masuk:hover
{
	background-color: #395c81;
}
.header
{
	margin-top: 10px;
}