		body
		{
			background-image: url(IMG/bgd.png);
		}
		.col
		{
			border: 0px solid;
		}
		.kolom1
		{
			height: 200px;
		}
		.kolom2
		{
			height: 500px;
		}
		.kolom3
		{
			height: 250px;
		}
		.kolom4
		{
			height: 50px;
		}
		.kolom5
		{
			height: 300px;
			margin-bottom: 50px;
		}
		.kolom6
		{
			height: 200px;
		}
		.bgp
		{
			height: 125px;
		}
		.pro
		{
			height: 125px;
		}
		.latar
		{	
			background-color: #1282b2;
			height: 420px;
			padding: 20px;
			width: 320px;
		}
		.sentuh:hover
		{
			background-color: #1996cb;
			width: 100%;
			padding: 10px;
			border-radius: 10px 10px 10px 10px;
		}
		.header
		{
			margin-top: 10px;
		}
		.fav
		{
			margin-right: 40px;
			
		}
		.judul
		{
			position: relative;
			margin-top: -220px;
			margin-left: 550px;
		}
		.papan
		{
			font-size: 35px;
		}
		.bdc
		{
			border: 5px solid;
			border-color: #1282b2;
			border-radius: 50%;
			height: 300px;
		}
		.h1
		{
			background-color: white;
			height: 150px;
		}
		.icon1
		{
			color: #B22222;
			margin-top: 20px;
		}
		.icon2
		{
			color: #228B22;
			margin-top: 20px;
		}
		.icon3
		{
			color: #FFD700;
			margin-top: 20px;
		}
		.body1
		{
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			color: white;
			background-color: #1282b2;
			border-radius: 0px 0px 300px 300px;
		}